# PHP源目录
SOURCE_DIR=./www

# 运行时数据目录
DATA_DIR=./data

# 容器时区
TZ=Asia/Shanghai

# 容器包获取地址 (可以为空、或以下其一)
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.tencent.com
# mirrors.ustc.edu.cn
# dl-cdn.alpinelinux.org
CONTAINER_PACKAGE_URL=mirrors.ustc.edu.cn

#
# Composer 包获取地址 (可以为空、或以下其一)
# packagist.laravel-china.org
# packagist.phpcomposer.com
# mirrors.aliyun.com
# mirrors.tencent.com
# repo.packagist.org
COMPOSER_URL=mirrors.tencent.com

# Nginx
NGINX_VERSION=1.28.0-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./service/nginx/conf.d
NGINX_CONF_FILE=./service/nginx/nginx.conf
NGINX_FASTCGI_PHP_CONF=./service/nginx/fastcgi-php.conf
NGINX_FASTCGI_PARAMS=./service/nginx/fastcgi_params
NGINX_SSL_CERTIFICATE_DIR=./service/nginx/ssl
NGINX_LOG_DIR=./logs/nginx
# Available apps: certbot
NGINX_INSTALL_APPS=

# Redis
REDIS_VERSION=7.4.6-alpine
REDIS_HOST_PORT=6379
REDIS_PASSWORD=123456
REDIS_CONF_FILE=./service/redis/redis-7.conf

# MySQL5
MYSQL5_VERSION=5.7.44
MYSQL5_HOST_PORT=3305
MYSQL5_ROOT_PASSWORD=123456
MYSQL5_ROOT_HOST=%
MYSQL5_CONF_FILE=./service/mysql5/mysql.cnf
MYSQL5_LOG_DIR=./logs/mysql5

# MySQL8
MYSQL8_VERSION=8.0.44
MYSQL8_HOST_PORT=3308
MYSQL8_ROOT_PASSWORD=123456
MYSQL8_ROOT_HOST=%
MYSQL8_CONF_FILE=./service/mysql8/mysql.cnf
MYSQL8_LOG_DIR=./logs/mysql8

# RABBITMQ
RABBITMQ_VERSION=management
RABBITMQ_CONF_FILE=./service/rabbitmq/rabbitmq.yml
RABBITMQ_HOST_PORT_C=5672
RABBITMQ_HOST_PORT_S=15672
RABBITMQ_DEFAULT_USER=myuser
RABBITMQ_DEFAULT_PASS=mypass
RABBITMQ_PLUGINS=rabbitmq_amqp1_0

# PHP82
PHP82_VERSION=8.2.29
PHP82_PHP_CONF_FILE=./service/php82/php.ini
PHP82_FPM_CONF_FILE=./service/php82/php-fpm.conf
PHP82_LOG_DIR=./logs/php82
PHP82_DATA_COMPOSER=./data/composer
PHP82_EXTENSIONS='pdo_mysql mysqli gd bcmath swoole xdebug redis xlswriter pcntl zip exif'
